<%= render 'shared/header' %>
<br>
<div class='col-md-6 col-xs-12 col-xs-offset-3'>
  <h1>Sign Up</h1>
  <%= form_for @user do |f| %>
    <% if @user.errors.any? %>
      <div class='error_messages'>
        <h2>Form is invalid</h2>
        <ul>
          <% for message in @user.errors.full_messages %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <p>
      <%= f.label :email %>
      <br>
      <%= f.text_field :email, autofocus: true, placeholder: 'Email', required: true, class: 'form-control' %>
    </p>
    <p>
      <%= f.label :password %>
      <br>
      <%= f.password_field :password, autocomplete: 'off', placeholder: 'Password', required: true, class: 'form-control' %>
    </p>
    <p>
      <%= f.label :password_confirmation %>
      <br>
      <%= f.password_field :password_confirmation, autocomplete: 'off', placeholder: 'password confirmation', required: true, class: 'form-control' %>
    </p>
    <br>
      <div class='clear'><%= f.submit 'Create user', class: 'btn btn-success' %></div>
  <% end %>
</div>